[2019-09-23 22:05] hyochan opened #11 "feat: Implement [SignUp] screen and test code"
<img width="173" alt="Screen Shot 2019-09-24 at 7 05 21 AM" src="https://user-images.githubusercontent.com/27461460/65466440-d10a8180-de99-11e9-937f-c3ac5905f20a.png">

[2019-09-23 22:05] hyochan opened #12 "feat: Implement [FindPw] screen and test code"
With a ui provided in #11, build `email` `TextInput` and `send` `Button`.

[2019-09-23 22:05] hyochan opened #13 "feat: Implement [SearchUser] screen and test code"
<img width="174" alt="Screen Shot 2019-09-24 at 7 08 34 AM" src="https://user-images.githubusercontent.com/27461460/65466550-23e43900-de9a-11e9-952b-b9f144930173.png">

[2019-09-23 22:05] hyochan opened #14 "[Types] Improve typing of boilerplate screens."
`typescript-eslint/recommended` added in #6 makes this project to improve considerable typings. Currently `92` warnings 😫

[2019-09-23 22:06] hyochan opened #15 "[Hacktoberfest][Gifted] Improve test code."
Some test codes are not matured yet.

[Gifted] Dev who contributes to improving test code will be rewarded in our open `meetup`!

[2019-09-27 09:45] openmaya opened #16 "First hurdle is configuration"
**Is your feature request related to a problem? Please describe.**
When I followed up the README to run first, I need to know facebookAppId, iosClinetId, androidClientId. etc. Usually, people just want to add some features but they need to figure out where those can be found before doing it.

**Describe the solution you'd like**
All configuration change to optional. and throw exception only when t

[2019-09-27 13:03] hyochan commented on #16
![image](https://user-images.githubusercontent.com/27461460/65770847-e28dab00-e171-11e9-886e-8bee59294814.png)

We thought we've provided that in the above readme. As you can see in many other opensource, it is very hard to make the doc taste good on everyone's point of view.

The good approach when you have this kind of problem is to share your stories with others, giving some `PR` that might be

[2019-09-28 00:04] openmaya commented on #16
I read it too. I thought I need to know other background knowledge.
After removing that default value '<blablabla>' to '', fianlly I can run it.

Thanks hyochan

[2019-09-28 13:02] #16 closed

[2019-10-16 03:51] geoseong opened #22 "undefined is not an object (evaluating 'locale.replace')"
**Describe the bug**
Error happened when run simulator
[code]

**To Reproduce**
1. $ expo start
2. `Run on iOS simulator` in expo console
3. remove `expo` app and rerun, same error happen

**Expected behavior**
- error happened on `iPhone 11 Pro Max` Simulator
- worked well on `iPhone X` Simulator but when I modified some code of `SearchUser.tsx`, same error happened again
- executed simulator men

[2019-10-16 06:06] geoseong commented on #22
it looks kind of `expo`'s own issue. thanks to @marsinearth
testing on actual device is work well..

[2019-10-16 08:21] hyochan opened #25 "[Feature Request] Ability to get image from camera or gallery"
Use [ImagePicker](https://docs.expo.io/versions/v35.0.0/sdk/imagepicker).
![image](https://user-images.githubusercontent.com/27461460/67146270-57ad5580-f2c4-11e9-9715-1128d20bc9e7.png)
- [ ] Should open the camera when [camera] image in [Chat] screen is pressed.
   - [ ] Should grab the captured camera. (check by the console)
- [ ] Should open gallery when [image] image in [Chat] screen is pressed

[2019-10-16 08:36] hyochan opened #26 "[Feature Request] Facebook sign in"
- [ ] Follow [the read](https://docs.expo.io/versions/latest/sdk/facebook/#__next).
- [ ] Implement feature in your own dev `env` (creating your own facebook dev account). Only erase `facebook` secret before `PR`ing.
- [ ] Write minimal test code (don't need to be perfect).
- [ ] Write `readme` on how to manage `facebook` secrets in `config.ts`.
- [ ] Write necessary variables in `config.sample.ts

[2019-10-16 08:50] hyochan opened #27 "[Feature Request] Google sign in"
- [ ] Follow [the read](https://docs.expo.io/versions/latest/sdk/google-sign-in/#__next)
- [ ] Implement feature in your own dev `env` (creating your own google dev account). Only erase `google` secret before `PR`ing.
- [ ] Write minimal test code (don't need to be perfect).
- [ ] Write `readme` on how to manage `google` secrets in `config.ts`.
- [ ] Write necessary variables in `config.sample.ts`

[2019-10-16 12:05] geoseong commented on #22
Related: https://github.com/expo/expo/issues/5127

[2019-10-17 01:30] hyochan commented on #25
@heyman333 Go for it. Also it would be good if you integrate the same thing in [ProfileMy] screen. Here, you can demonstrate actual profile changes.

[2019-10-20 06:06] #13 closed

[2019-10-20 06:17] hyochan opened #29 "[Feature Request] Build [Setting] screen which has ability to see login info and change credential"
Below is an example

[SettingAccount]
<img width="370" alt="Screen Shot 2019-10-20 at 3 15 41 PM" src="https://user-images.githubusercontent.com/27461460/67155545-81aa5a80-f34c-11e9-9197-d1fabf166f9f.png">

[ChangePasswordCurrent]
![image](https://user-images.githubusercontent.com/27461460/67155547-87a03b80-f34c-11e9-85d5-8cf03b8c62c4.png)
![image](https://user-images.githubusercontent.com/2746146

[2019-10-20 16:40] Ta2Rim commented on #27
Is there anyone who works on this feature?
Also, I wonder it's good for beginners or not.
because I'm a ReactNative beginner.

[2019-10-21 08:33] hyochan commented on #27
It is not hard implementing but there is a burden issue in debugging (You should test this in production apk). Since there is already implemented example in [our blog](https://medium.com/react-native-seoul/react-native-프로젝트에서-expo를-이용한-googlesignin-이용기-acd0404d1977) you can just follow along.

[2019-10-22 09:33] godon019 commented on #15
I will see what I can do

[2019-10-22 12:05] godon019 opened #30 "Button has bigger space than what it actually need"
**Describe the bug**
Button was taking up all space through vertical way
the `red` color is a background color of Button's root component
![](https://i.imgur.com/OPcYjmM.gif)

see its height is `762`. which is much bigger than button itself(blue color)
![image](https://user-images.githubusercontent.com/10363850/67283636-ffb65f00-f50e-11e9-882c-aadd1f72b13a.png)

**To Reproduce**
[code]
put button

[2019-10-22 14:05] #30 closed

[2019-10-23 02:51] JongtaekChoi commented on #29
It looks fun. Can I apply for this work?

[2019-10-23 05:22] hyochan commented on #29
@JongtaekChoi As you wish~! :tada:

[2019-10-24 00:58] devohno commented on #27
If there's no assignees, can I take this?

[2019-10-24 01:08] daheeahn opened #33 "[Feature Request] Float [ProfileModal] on profile click"
Hi! It's my first issue.

![Simulator Screen Shot - iPhone 11 Pro - 2019-10-24 at 10 02 26](https://user-images.githubusercontent.com/38369729/67444813-9ab15500-f645-11e9-8868-1e06ea82b314.png)

In this [Chat]  screen,
I wanna float [ProfileModal] (below) if I click 'ios-person' icon.

![스크린샷 2019-10-24 오전 10 02 41](https://user-images.githubusercontent.com/38369729/67444910-dfd58700-f645

[2019-10-24 06:31] hyochan commented on #33
Nice detail~ This should definitely be in our roadmap. How do you think? Are you applicable in working on your own issue?

[2019-10-24 06:32] hyochan commented on #27
@devohno Of course you can. You can even work on it without asking! Also here is an [example](https://medium.com/react-native-seoul/react-native-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%97%90%EC%84%9C-expo%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%9C-googlesignin-%EC%9D%B4%EC%9A%A9%EA%B8%B0-acd0404d1977) you can follow through.

[2019-10-24 06:34] hyochan opened #34 "[Migration] Use [Button] from `@dooboo-ui/native`"
We'd like to implement our reusable components in [@dooboo-ui/native](https://github.com/dooboolab/dooboo-ui-native). However we are using our [Button] component seperately.

Would like to remove it and use [Button] in `@dooboo-ui/native`.

[2019-10-25 00:28] JongtaekChoi commented on #29
@hyochan Could I make missing designs and layouts necessary for this issue at my pleasure?

[2019-10-25 02:15] daheeahn commented on #33
You mean this issue is essential to hackatalk project?
And I can do it!

[2019-10-25 03:30] hyochan commented on #33
Yes! That's what I meant.

I'll assign you on current issue 🎉

[2019-10-26 13:34] hyochan opened #35 "migration: make `GiftedChatInput` shared component"
![image](https://user-images.githubusercontent.com/27461460/67620353-c8aeb900-f840-11e9-8d88-5d3164c20dfd.png)

- [ ] Make above view into `Shared` component.

[2019-10-26 16:00] hyochan commented on #12
@marsinearth Who was the volunteer for this?

[2019-10-26 16:05] marsinearth commented on #12
I thought that #29 is building the same compartment as what this one has to be built with, so that I thought that I glanced at my emails and @JongtaekChoi wanted to take this.

[2019-10-26 16:09] hyochan commented on #12
@marsinearth Thanks for sharing. @JongtaekChoi Would you like me to assign you on this issue?

[2019-10-26 16:10] hyochan commented on #12
@marsinearth Actually, I think you've miss understood. #29 is totally different.

[2019-10-26 16:16] marsinearth commented on #12
ah, now I got it. It's actually 'revealing' the password if a certain set of given condition is fulfilled. then, I'd like to get that conditions (e.g. security questions or dob or something) and a simple design for it. Or I can  follow the same design schema as the screenshot of #11

[2019-10-26 16:18] hyochan commented on #12
Yup you can just use thr same component you've made. Thats why I have grouped the two assignments together!

[2019-10-26 16:21] hyochan commented on #12
FYI this screen appears when you click on "forgot password" Then users send the credential to their email.

[2019-10-26 16:21] marsinearth commented on #12
You mean [this one](https://user-images.githubusercontent.com/27461460/67143245-684dd380-f2a4-11e9-9f10-1dba2958f7bc.png)? I'd add name as the password reveal condition only since memorizing status might be a little bit tough.

[2019-10-26 16:24] hyochan commented on #12
@marsinearth You can follow [this](https://github.com/dooboolab/talktalk-rn/blob/master/src/components/screen/FindPw.tsx). This is exactly the same thing.

[2019-10-26 16:28] marsinearth commented on #12
I see. I was totally confused by my experience on working on [dooboodev findPW](https://github.com/dooboolab/dooboo.dev/blob/master/src/components/screen/SignIn/index.tsx#L33-L58). This one is just a screen with a button which invoke the email send function, got it.

[2019-10-27 03:20] Sandwichj commented on #34
I would like to take this issue. :)

[2019-10-27 03:53] Sandwichj commented on #34
What format of styles would the repo [@dooboo-ui/native](https://github.com/dooboolab/dooboo-ui-native) take in the future?
[@dooboo-ui/native](https://github.com/dooboolab/dooboo-ui-native) has the both.

- camelCased by StyleSheet of [react-native](https://github.com/facebook/react-native)
![image](https://user-images.githubusercontent.com/11019960/67629304-0f3efa80-f8b7-11e9-9966-bedfee973f14.p

[2019-10-27 04:23] hyochan commented on #34
We are trying to minimize the usage of components in `@dooboo-ui/native` to increase the usability for those who are not using `styled-component`. If you have a great idea to use `styled-component` in both projects but this can also be used in other projects without it, please share.

To summarize, we are hoping `@dooboo-ui/native` works in all `react-native` projects and `hackatalk-mobile` will b

[2019-10-27 04:55] Sandwichj commented on #34
How about VSCode plugin [css-in-js](https://marketplace.visualstudio.com/items?itemName=paulmolluzzo.convert-css-in-js).
This plugin is easy to use and can support our effort to migrate from other projects which use `styled-components` to `@dooboo-ui/native` which doesn't use an additional library for css.

![image](https://user-images.githubusercontent.com/11019960/67629859-85942a80-f8c0-11e9-9af

[2019-10-27 05:07] hyochan opened #37 "[Feature Request] Add agreement message and link to terms"
![image](https://user-images.githubusercontent.com/27461460/67629921-ac069580-f8c1-11e9-8add-4f483429d1c3.png)

Using [WebView](https://docs.expo.io/versions/latest/react-native/webview/) in `expo`, please do the following.

- [ ] Implement the design in `Login` screen and put below localized text at the very bottom. The design should be done in a personal sense.
   - en: We consider that you agre

[2019-10-27 07:29] hyochan commented on #34
@Sandwichj Sorry for confusing you. Actually, we'll use `styled-component` in `@dooboo-ui/native`. I've just found this hard to re-write again when the component is bit complicating. Let's just use `styled-component` everywhere.

[2019-10-27 07:50] Sandwichj commented on #34
@hyochan, I agree with you that using `styled-components` everywhere.
I'll refactor `@dooboo-ui/native` after resolving this issue. :)

Thanks for your opinions!

[2019-10-27 11:32] devohno commented on #27
I got access_token on Expo client from Google api.
Getting access token, and then navigating to the [Main] screen is that all of implement of app?

[2019-10-28 03:37] hyochan commented on #27
Currently, getting access token and showing it using `Alert` would be just fine.

[2019-10-30 08:11] hyochan opened #38 "[Bug Report] small ui bug. `Send` button in [Chat] screen isn't beautiful."
**Describe the bug**
Small ui bug. `Send` button in [Chat] screen isn't beautiful.

**Screenshots**
![image](https://user-images.githubusercontent.com/27461460/67839893-0446cd00-fb38-11e9-9750-7435b884fa94.png)

**Smartphone (please complete the following information):**

- Device: iphoneX
- OS: [e.g. iOS13]

[2019-10-30 08:43] hyochan opened #39 "[Feature Request] Mimic add friend & deleting friend"
Requirements
- [ ] Add friend from [SearchUser] screen.
![image](https://user-images.githubusercontent.com/27461460/67841816-3ce8a580-fb3c-11e9-9cc9-52bd2cca1afb.png)
   - Show message under `online` that friend has been added.
- [ ] Add friend in [Friend] screen.
   ![image](https://user-images.githubusercontent.com/27461460/67841955-905af380-fb3c-11e9-8692-5a3033aab372.png)
- [ ] Delete friend f

[2019-10-30 09:22] hyochan opened #40 "[Feature Request] Add more options to [GiftedChat]"
<img width="258" alt="Screen Shot 2019-10-30 at 6 02 04 PM" src="https://user-images.githubusercontent.com/27461460/67843474-63f4a680-fb3f-11e9-8612-242bf60e7d5b.png">

- [ ] Add clickable `map` icon
- [ ] Add clickable `calendar` icon
- [ ] Add clickable `file` icon
- [ ] Add clickable `sound` icon
- [ ] Add clickable `contact` icon
- [ ] Should add test cases on `onPress` interactions

[2019-10-30 09:27] hyochan opened #41 "[Feature Request] Add [PinchZoomView] with full screen"
Add [PinchZoomView] with full screen to show image in full screen with `pinch zoom` ability.

- [ ] Design below screen
   ![image](https://user-images.githubusercontent.com/27461460/67845310-9f44a480-fb42-11e9-865f-5888b03e058c.png)
   - [ ] Image should be `pinch zoomed`.
   - [ ] Image area should be implemented in `shared` component named [PinchZoomView] or [PinchZoomHorizontalScrollView]. Ima

[2019-10-30 10:45] jbjeong-kosac commented on #38
How about this change?

<img width="436" alt="스크린샷 2019-10-30 오후 7 42 37" src="https://user-images.githubusercontent.com/55368637/67851294-7c6bbd80-fb4d-11e9-9e46-fc4023989f04.png">

It is just changing the height of Button.

height={Platform.OS === 'android' ? 40 : undefined} =>
height={40}

[2019-10-30 12:49] daheeahn commented on #37
me!

[2019-10-30 13:01] hyochan commented on #41
FYI [react-native-image-zoom-viewer](https://github.com/ascoders/react-native-image-viewer)

[2019-10-30 13:01] Kynyth commented on #40
`Me`

[2019-10-30 13:03] JeffGuKang commented on #41
Me -0-/

[2019-10-30 13:05] dlgmltjr0925 commented on #39
Me

[2019-10-30 13:13] #22 closed

[2019-10-31 16:02] marsinearth commented on #12
due to [the infrastructure of test code utils](https://github.com/dooboolab/hackatalk-mobile/pull/21/files#diff-8cc175d1af819cf71e4dba00a21d66f4), I'll postpone working on this (though it is a very light job to do)

[2019-11-01 03:09] hyochan opened #44 "migration: react-hook-form"
- [x] Migrate [SignUp] screen to [react-hook-form](https://github.com/react-hook-form/react-hook-form/blob/master/README.ko-KR.md).

[2019-11-05 05:33] KlausMin commented on #40
Does `sound` icon stand for `attatch audio file`?

[2019-11-05 05:38] hyochan commented on #40
@KlausMin Yes!

[2019-11-07 02:55] #12 closed

[2019-11-07 09:35] godon019 opened #51 "[Improvement] Better typing for React components"
### Problem
Currently we are using `React.ReactElement` for typing a component
Which doesn't let typescript to infer `children` from its React component props
![image](https://user-images.githubusercontent.com/10363850/68376354-d0992200-018b-11ea-8e1e-1b4d2f9c00cc.png)
As we can see, we have to declare children explicitly to use it.

But if we use `React.FC` or  ~~`React.SFC`~~, typescript knows t

[2019-11-07 09:41] hyochan commented on #51
Nice one 👍

[2019-11-07 09:53] godon019 commented on #51
More information! `React.SFC` is being deprecated, and they say we should use `React.FC` instead!

[2019-11-10 15:20] KlausMin commented on #40
I thought my work is done and I faced serveral issues about `yarn test` and `yarn lint`.

Here below is for `yarn test`
![image](https://user-images.githubusercontent.com/31463177/68546369-da838500-0418-11ea-89fb-c0a026238824.png)

And here below is for `yarn lint`
<img width="1191" alt="image" src="https://user-images.githubusercontent.com/31463177/68546342-8a0c2780-0418-11ea-93b0-23dc4793eb7e.pn

[2019-11-11 12:39] #44 closed

[2019-11-11 12:42] hyochan opened #53 "[Feature Request] Integrate apollo client to hackatalk stage server"
Integration of [apollo-client](https://www.apollographql.com/docs/react) to hackatalk-stage server.

[2019-11-11 13:31] hyochan opened #54 "refactor: context & dispatch pattern to provider and functional pattern"
Refactor context & dispatch pattern to provider and functional pattern so we can use `use...` in else where.

[2019-11-12 04:37] KlausMin commented on #40
@hyochan https://github.com/dooboolab/hackatalk-mobile/issues/40#issuecomment-552204038
Can I have some advices?

[2019-11-12 07:31] godon019 commented on #40
You are okay with `yarn test`, those warnings are okay to ignore for now.
but you have problem with `lint`. which means you haven't met proper code styles that this hackatalk project wants.
You can fix it one by one by following those error messages.
when you see this
[code]
this is telling you to fix your `import` statement order
you can get some ideas from [here](https://eslint.org/docs/rules/so

[2019-11-12 14:07] marsinearth commented on #11
Resolved by #52

[2019-11-12 14:07] #11 closed

[2019-11-12 14:41] JeffGuKang commented on #41
I am not sure I need to apply styled-component's theme here. What do you think?

[2019-11-12 15:51] KlausMin commented on #40
Thank you so much @godon019 !

[2019-11-13 10:38] jb9229 commented on #38
It is fixed in the commit(https://github.com/dooboolab/hackatalk-mobile/pull/28)
Thank you.

[2019-11-13 12:12] real0131 opened #60 "[Improvement] Dark Mode Automatic Recognition"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Recognize the system dark mode setting and automatically activate the dark mode.

**Describe alternatives you've considered**
A method has been added to automatically recognize dark mode (from version 35 of the Expo). I am going to apply dark mode automatic recognition using the API.

**Add

[2019-11-13 12:14] real0131 commented on #60
me

[2019-11-13 12:15] real0131 commented on #60
I want to work on it.

[2019-11-14 01:57] hyochan commented on #60
@real0131 You are in!

[2019-11-14 03:03] #54 closed

[2019-11-14 04:11] hyochan commented on #41
@JeffGuKang If this is `shared` component, we aren't thinking about putting theme.

[2019-11-14 04:24] JeffGuKang commented on #41
@hyochan Okay. I will try keep the style as your example.

[2019-11-14 05:00] hyochan commented on #41
@JeffGuKang Try to pass down the `style` props.

[2019-11-17 06:59] DylanJu opened #61 "[Feature Request] Application [Settings] screen"
**Is your feature request related to a problem? Please describe.**
In the Hackatak, there is no application settings screen. This is a common menu in other applications like Kakaotalk, Telegram, Whatsapp and so on.

**Describe the solution you'd like**
Add [Settings] screen

**Describe alternatives you've considered**
At this stage, it seems like that all menus are not needed. So, I will add just

[2019-11-17 13:23] hyochan commented on #61
Thanks for the thoughtful issue 👍 , However, this looks like it's already in progress in #58. Would you like to take that `PR` and test our if it is sufficient?

[2019-11-19 03:12] vanayun commented on #26
Can you invite me in this Organization?
Even though I am a beginner level, I want to try the work.

[2019-11-19 03:27] hyochan commented on #26
@vanayun We are inviting to organization only when there is contribution made by the user (even small contribution is ok). If you want to work on this `issue`, you can.

Since this is an opensource, you can work on it without any invitation :)
We always welcome new contributors!

[2019-11-19 05:01] vanayun commented on #26
I see. I'd like to be assigned to me this work.

[2019-11-21 09:48] DylanJu commented on #61
OK! I will do that

[2019-11-23 09:57] hyochan commented on #51
@godon019 Could you make some update on this with your `PR` given? Since the return value is `ReactElement`, I am not quite sure when to use `React.FC`.

[2019-11-23 10:07] hyochan commented on #34
@Sandwichj Would you like to remove all our buttons and replace it to button in `@dooboo-ui/native`?

[2019-11-23 10:08] #38 closed

[2019-11-26 16:47] hyochan opened #65 "[Migration] Migrate PinchZoomView to that in `react-native-gesture-handler`"
Instead of using `PinchZoomView` in `react-native-image-zoom-viewer`, it'd be more essential if we can directly use `react-native-gesture-handler`. See below.

https://kmagiera.github.io/react-native-gesture-handler/docs/handler-pinch.html

[2019-11-28 06:57] #33 closed

[2019-12-01 07:35] Sandwichj commented on #34
@hyochan
Sorry for the late reply.
I'll replace all of the buttons to [@dooboo-ui/native-button](https://github.com/dooboolab/dooboo-ui-native/tree/master/src/components/shared/Button).
In progress now.

[shared/Button](https://github.com/dooboolab/hackatalk-mobile/blob/master/src/components/shared/Button.tsx) is used in:
<img src="https://user-images.githubusercontent.com/11019960/69910942-2a2501

[2019-12-01 14:55] hyochan commented on #34
Nope. We'd like to use most `shared` components relied on `dooboo-ui/native`.
Removing current `Button` should be done.

[2019-12-02 14:03] godon019 commented on #51
@hyochan, I am afraid but I don't know which PR you are referring to.
In general, you can always use `React.FC` instead of `ReactElement` on functional component declaration!

[2019-12-07 07:35] #41 closed

[2019-12-07 07:36] #25 closed

[2019-12-07 07:36] #27 closed

[2019-12-19 02:13] hyochan opened #75 "[Feature Request] Apple Authentication"
We now need to add Apple Authentication in order to add other 3rd parties social auth.
- Follow the [doc](https://docs.expo.io/versions/latest/sdk/apple-authentication/).

[2019-12-21 08:08] #60 closed

[2019-12-21 08:08] hyochan commented on #60
Merged #62

[2019-12-28 07:07] JeffGuKang commented on #75
I have been use this. -0-/

[2019-12-29 13:32] hyochan opened #83 "[ToDo] Refactor & enhancement"
- [x] Rename [Chat] => [Message], [Message] => [Channel]
- [x] Design `interface` models
      * User, Profile, Chatroom, Chat

[2019-12-30 04:00] hyochan commented on #65
Should be opened!

[2019-12-30 04:00] hyochan commented on #53
Hold this issue.

[2019-12-30 04:01] hyochan commented on #40
@KlausMin Can you tell us any stories?

[2019-12-30 04:02] hyochan commented on #29
Done #58

[2019-12-30 04:02] #29 closed

[2019-12-30 06:42] KlausMin commented on #40
@hyochan Sorry. My work has been very urgent so far and it's still on going. Feel free to unassign me for this issue if want to.

[2019-12-31 14:59] hyochan commented on #39
Closed #73

[2019-12-31 14:59] #39 closed

[2019-12-31 15:00] hyochan commented on #37
Closed #77

[2019-12-31 15:00] #37 closed

[2019-12-31 15:02] hyochan commented on #61
Closed #58

[2019-12-31 15:02] #61 closed

[2019-12-31 15:04] hyochan commented on #26
Closed via inactivity

[2019-12-31 15:04] #26 closed

[2020-01-01 09:52] hyochan commented on #34
Leave it open @Sandwichj

[2020-01-06 00:06] #15 closed

[2020-01-06 00:06] #14 closed

[2020-01-07 00:06] #53 closed

[2020-01-07 00:06] #40 closed

[2020-01-14 13:33] hyochan commented on #83
Closes #90

[2020-01-14 13:33] #83 closed

[2020-01-14 18:42] hyochan opened #93 "Completely remove [TextInput] and replace with `dooboo-ui` [EditText]"
Remove `shared/TextInput` and replace it with `@dooboo-ui`'s `EditText`.

[2020-01-14 18:44] hyochan opened #94 "Enhancement for our new design system"
Our [new design](https://www.figma.com/file/texTYKZebjW1KY2R4B6Z9k/HackaTalk_designSystem?node-id=401%3A415) has rises today 🎉 .

Check out the link and see how you can improve our current status.

[2020-01-15 05:13] hyochan commented on #34
Done in #87

[2020-01-15 05:13] #34 closed

[2020-01-27 11:52] hyochan opened #98 "More apollo integrations"
Given initial works provided in #96, I'd like to share with others on apollo integrations.
Below are the tasks we can try today 🥇 .

You can see all integrated GraphqlAPIs in https://stage.hackatalk.dev/graphql

** **Currently provided** **
- [x] Add / Remove push notifications
- [x] Search all users not including user.
- [x] Add / Remove friend
- [x] Update profile
- [x] Find password
- [x] Faceb

[2020-02-02 00:53] godon019 commented on #94
I am working on implementing shadows of buttons at `@dooboo-ui/native` ~ !

[2020-02-03 11:21] hyochan commented on #65
@JeffGuKang I've tried to migrate this to `react-native-gesture-handler` and it didn't work properly in android.
Sample work is in my [gist](https://gist.github.com/hyochan/4c2d21fbcf8f3dfbc3b353fca88e0c8a).

Closing this for now until we have a good solution to this.

[2020-02-03 11:21] #65 closed

[2020-02-12 12:53] geoseong opened #106 "[Feature] Search users / show friends / add friend / delete friend"
## Related issue
#98

## Notice
I opened issue in [geoseong's repository](https://github.com/geoseong/hackatalk-mobile/issues/5). so please leave any opinions and thoughts in that comments

## Branch name
`feat/usermgmt`

## Collaboration Flow
![hackatalk-mobile-collaboration](https://user-images.githubusercontent.com/19166187/75092070-98d9ad00-55b7-11ea-92b3-a4bc36e50abd.jpg)

## Assignee
### `us

[2020-02-12 12:56] marktoope commented on #106
hi

[2020-02-12 12:57] dlgmltjr0925 commented on #106
hi

[2020-02-12 12:57] 00aney commented on #106
hi

[2020-02-16 02:55] godon019 commented on #98
So we have two options to implement apollo client here
1. put apollo code inside of view component and thus remove unnecessary provider
2. put apollo code inside of provider

let's discuss of pros and cons here
if we choose 1.
pros
 - easy to customize apollo client code for view specific code
 - remove unnecessary provider codes
cons
 - removed encapsulation for side effect codes (provider)

and

[2020-02-18 14:50] marsinearth commented on #98
I think this second one is already implemented on signUp, signIn, and verifyEmail using `useMutation` and is clearly beneficial when it comes to reusing the query

[2020-02-19 12:46] godon019 commented on #98
Okay that sounds good! I would like to give it a try!

[2020-02-22 06:43] qkreltms commented on #106
Hi~

[2020-02-22 09:05] haerang94 commented on #106
hi

[2020-02-22 12:17] geoseong commented on #98
@hyochan I added task called `delete friend` in `Search users / add friends / show friends` section.

User might want to delete a friend someday after the user adds some user to friend list.

please let me know if this `delete friend` task has not been intended.

[2020-03-07 05:56] hyochan commented on #98
@geoseong You're right! I've added that for you!

[2020-03-09 00:13] #51 closed

[2020-03-12 12:53] JeffGuKang commented on #75
Sorry for late process.
Could you set the project for apple sign in?
We can refer [1](https://help.apple.com/developer-account/?lang=en#/devde676e696) and [2](https://help.apple.com/xcode/mac/11.0/#/dev50571b902).

And there are two Apple SignIn modules for RN. I may use [invertase/react-native-apple-authentication](https://github.com/invertase/react-native-apple-authentication). Another one is [e

[2020-03-12 15:03] hyochan commented on #75
@JeffGuKang Since we are using `expo-unimodules`, `expo-apple-authentication` should be the good choice!

[2020-03-15 10:21] JeffGuKang commented on #75
@hyochan I got it. 👍

[2020-03-15 11:15] JeffGuKang opened #118 "[iOS] pod install is not work with 'target has transitive dependencies that include statically linked binaries' error"
**Describe the bug**
A clear and concise description of what the bug is.

`pod install` makes error as below.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone master
1. Install npm dependencies
2. Try `pod install` in ios folder

**Expected behavior**
A clear and concise description of what you expected to happen.

Podfile.lock should be created without error.

**Desktop (pleas

[2020-03-15 11:44] hyochan commented on #118
Can you [follow the link](https://github.com/dooboolab/hackatalk-mobile/pull/107#issuecomment-599173972) and try again?

[2020-03-15 13:00] JeffGuKang commented on #118
@hyochan It works after adding `s.static_framework` to `node_modules/expo-google-sign-in/ios/EXGoogleSignIn.podspec`.

Thanks.

[code]

[2020-03-15 13:00] #118 closed

[2020-03-29 08:03] geoseong opened #122 ""ReferenceError: You are trying to `import` a file after the Jest environment has been torn down." when run `yarn test`"
**Describe the bug**
I want to say that this is not a `hackatalk-mobile`'s own bug,
just want to discuss why this happens and how can resolve this.

I commited to [PR#115](https://github.com/dooboolab/hackatalk-mobile/pull/115) and didn't pass in `ci/circleci: node` section. **(I attached detailed error message down below at `Expected behavior` section)**

I feel strange and so I tried to run `yar

[2020-04-14 14:46] #106 closed

[2020-05-01 04:24] mym0404 opened #127 "Cannot verify my email address for sign up"
**Describe the bug**
I am adding some features in this application. I need to sign in to check my function is correctly worked. But, when I tried to sign up with an email address, then verification is failed with seems like a technical issue.

![image](https://user-images.githubusercontent.com/33388801/80781916-2389ea00-8baf-11ea-9674-835ffb54bf52.png)

![image](https://user-images.githubuserconte

[2020-05-01 06:06] hyochan commented on #127
@mym0404 Thanks for the issue. This might occur when the server has been updating. Would you like to try this again?

[2020-05-05 08:08] hyochan commented on #127
Should be resolved by the time now

[2020-05-05 08:08] #127 closed

[2020-05-06 12:25] mym0404 commented on #127
@hyochan Yes, I can verify my email account now. Thank you 🚀

[2020-05-13 19:57] #93 closed

[2020-05-26 13:20] mym0404 commented on #122
In my own project, there are the same warnings in jest.
But that doesn't occur an error in my project.
In some case, I could resolve warning with `await wait(() => Promise.resolve());` at the end of the test.
It seems to asynchronize operation malfunctioning.

![image](https://user-images.githubusercontent.com/33388801/82905670-1d650e80-9f9f-11ea-81dc-62f39a59abac.png)

![image](https://user-image

[2020-06-01 02:07] #94 closed

[2020-06-06 11:00] hyochan opened #134 "Migrating apollo client to relay"
We'd like to migrate our graphql client from `apollo` to `relay` since we think it is more powerful and ideal.

More specific reasons are listed.
1. Powerful declarative data fetching with co-location pattern.
2. Works well with future react, the concurrent mode.
3. Looks like other communities are also moving to relay.

[2020-06-06 15:14] hyochan commented on #98
Closed followed by #134

[2020-06-06 15:14] #98 closed

[2020-06-20 13:28] #134 closed

[2020-06-20 13:30] hyochan commented on #122
Yeah, we have some bad testings written currently. Looking forward to resolving this while integrating a relay.

[2020-06-20 13:31] #75 closed

[2020-07-02 02:46] smallbee3 opened #150 "Union type generated by relay-compiler is not compatible with enum type generated by codegen"
## Specify project
Server
<br />

## To Reproduce
1. Remove below code in `client/src/App.tsx`
[code]

2. Type this in the terminal
[code]
3. See the error
<br />

## Expected behavior
No error when running `yarn tsc`
<br />

## Screenshots
![image](https://user-images.githubusercontent.com/35122143/86305670-30799700-bc4d-11ea-8f40-cc9af54e1846.png)
<br />

## Describe the bug
There is a type erro

[2020-07-02 06:56] smallbee3 commented on #150
Issue sovled by PR https://github.com/dooboolab/hackatalk/pull/151

[2020-07-02 07:00] #150 closed

[2020-07-21 16:59] geoseong opened #169 "Need feedback: add project's diagram to wiki or code"
I'm drawing diagrams of hackatalk's client and server using VSCode's [drawio extension](https://marketplace.visualstudio.com/items?itemName=hediet.vscode-drawio) which is great!.

here is my work in [my fork repository's wiki page](https://github.com/geoseong/hackatalk/wiki).

the reason why I did this is to understand the project's structure.

and if my diagrams might help people who are interest

[2020-07-22 13:35] JongtaekChoi commented on #169
I think the second one is better.

[2020-07-22 17:30] hyochan commented on #169
Vote for 2 either.

[2020-07-23 01:10] daadaadaah commented on #169
I vote for 2!!

Your diagrams are very awesome.👍👍👍

[2020-07-23 03:53] geoseong commented on #169
@hyochan okay I go for option 2 to wiki.

but I don't have write access to this repository so I can't access the Wiki page.

please consider referring to this document -> [Changing access permissions for wikis](https://docs.github.com/en/github/building-a-strong-community/changing-access-permissions-for-wikis)

[2020-07-23 18:23] hyochan commented on #169
<img width="437" alt="Screen Shot 2020-07-24 at 3 23 04 AM" src="https://user-images.githubusercontent.com/27461460/88323322-06535a80-cd5d-11ea-9186-6e41220dc198.png">

@geoseong Can you check now?

[2020-07-24 04:38] geoseong commented on #169
@hyochan I cannot access to `Settings`

![image](https://user-images.githubusercontent.com/19166187/88361107-f0708480-cdb2-11ea-926a-1bffd44d047d.png)

[2020-07-25 10:00] hyochan commented on #169
I've done `Changing access permissions for wikis` as shown above. Is there more I should do?

[2020-07-25 10:59] geoseong commented on #169
@hyochan thanks, now I can access Wiki page and edit.

but I cannot push commits via CLI like below. I think I don't have enough permission to access. maybe this is related to access `Settings` page.
[code]

but It's okay to edit wiki page on github page. thanks!

[2020-07-25 11:03] hyochan commented on #169
I think you should give a `Pull request` instead.

[2020-07-25 11:31] geoseong commented on #169
there's no Pull request workflow for Wiki repository.

should we follow the [`Taffy` workflow posted on stackoverflow](https://stackoverflow.com/a/11481887/8026431)?

**Wiki merge workflow**
1. Manually create a fork of the `hackatalk` wiki repo
[code]
2. Remove the original "origin" remote and add your github repo as new "origin"

[code]
3. Make your proposed changes locally, then push them to yo

[2020-07-25 11:46] hyochan commented on #169
Thanks for the link. I think we need another repository to manage the `WIKI` in that case. Furthermore, I think we have another better option to handle the document. How about contributing to [hackatalk-website](https://github.com/dooboolab/hackatalk-website) which is hosted in [website.hackatalk.dev](http://website.hackatalk.dev/).

[2020-07-25 11:48] geoseong commented on #169
actually I'd considered contributing [hackatalk-website](https://github.com/dooboolab/hackatalk-website) for the first time and it's time to do it lol. okay let me do it

[2020-07-25 13:04] hyochan commented on #169
Let me manage it first since this is too old! Then I will come back to you~

[2020-07-25 14:18] #169 closed

[2020-07-25 14:19] hyochan commented on #169
@geoseong I've structured documents so that you can only add to that instead of thinking of how to manage the documents.

[2020-08-07 12:17] LiteHell opened #180 "Security vulunerablities in verification mail logic"
There's a vulunerablility that enables us to verify email and reset password without actual verification.

On server side, Server verifies an email address by comparing real email address and bcrypt hash of it in an verification url. This logic is used in email verification and password reset logic.
It sounds simple but makes an security vulunerablility, because it enables to reset password or ver

[2020-08-07 15:23] hyochan commented on #180
Thanks for coming up with the issue. Do you have any proposal that can improve your concern?

[2020-08-07 15:28] LiteHell commented on #180
I'm thinking of using jwt, created for email verification, instead of bcrypt-ed email address. I wrote code fixes on [my forked repository](https://github.com/LiteHell/hackatalk/tree/fix/emailVerification), but not tested yet.
I'll create PR for this as soon as possible.

[2020-08-10 00:56] LiteHell opened #187 "Question about server-side templates"
This issue is server related issue.

On server side, the templates for password reset and email verification use `table` tag for usually design purpose.
I think using `table` tag for design purpose should be avoided. Is there an reason to do that?

[2020-08-10 01:45] hyochan commented on #187
Nope there isn't. The work is done by the other designer!

[2020-08-10 02:29] LiteHell commented on #187
Thanks for your response!

[2020-08-10 02:29] #187 closed

[2020-08-10 09:11] neverlish opened #190 "replace bcrypt-nodejs with bcrypt"
**Specify project**
- server side issue

**Is your feature request related to a problem? Please describe.**
- In hackatalk project, npm bcrypt-nodejs is being used. [npm bcrypt-nodejs](https://www.npmjs.com/package/bcrypt-nodejs) says as following
[code]
So i suggest to replace bcrypt-nodejs with ~bcryptjs~ [bcrypt](https://github.com/kelektiv/node.bcrypt.js)

**Describe the solution you'd like**

[2020-08-10 13:27] #180 closed

[2020-08-10 13:36] hyochan commented on #190
Sounds awesome!

[2020-08-10 14:08] neverlish commented on #190
I agree :) I changed title and content of issue

[2020-08-13 05:29] JongtaekChoi opened #195 "'CONTRIBUTING.md' file has broken link."
**Specify project**
Document issue.

**Describe the issue**
Below CONTRIBUTING ~~GUILDE~~GUIDE link was broken.
![image](https://user-images.githubusercontent.com/17980230/90097202-588e0700-dd70-11ea-81ae-aaa08eef2bbf.png)

I'm not sure if it's ok to get rid of this.

[2020-08-13 07:58] hyochan commented on #195
This should be https://github.com/dooboolab/hackatalk/blob/master/CONTRIBUTING.md

[2020-08-13 08:12] hyochan commented on #195
@JongtaekChoi Sorry actually you can remove this.

[2020-08-14 11:25] 0916dhkim opened #197 "SendGrid Email Address Is Hard-Coded"
**Specify project**
Is this `Client` issue or `Server` side issue?
This is a server-side issue.

**Is your feature request related to a problem? Please describe.**
"From" address of the outbound SendGrid message is hard-coded here:
https://github.com/dooboolab/hackatalk/blob/5d3b4e6ff29d692694fc71284c6f3a32bae61975/server/src/types/resolvers/User/mutation.ts#L282

**Describe the solution you'd lik

[2020-08-15 02:44] hyochan commented on #197
Sounds great~! I think you can give a `PR` for adding that.

[2020-08-15 03:55] 0916dhkim commented on #197
Thank you, I will start working on this issue.

[2020-08-15 14:24] #197 closed

[2020-08-16 14:03] #190 closed

[2020-08-17 10:46] hyochan opened #207 "Milestone on contributon"
[Server]

- CRUD on private messages
   - aes-192-crc encryption as described in [hackatalk website](https://website.hackatalk.dev/docs/server/message)
- Inviting / removing user to `Channel` (for public)
   * Follow [membership section on our doc](https://website.hackatalk.dev/docs/server/membership).
- Create service layer for maintenance
- Testing features and improving test coverage
- Testing

[2020-08-18 06:39] 0916dhkim opened #210 "Update Button in the Profile Page Not Working"
**Specify project**
Client

**Describe the bug**
"Update" button inside the profile page does nothing.

**To Reproduce**
1. Open Hackatalk.
2. Sign in.
3. Press profile icon on the top left corner.
4. Modify profile info.
5. Press the update button.

**Expected behavior**
- Profile gets updated.
- A message is shown on screen that the profile update was successful, or an error message if there was

[2020-08-18 07:09] 0916dhkim opened #211 "ChannelCreate Not Fetching Friend List"
**Specify project**
Client

**Describe the bug**
Client is not fetching friend list inside `ChannelCreate` component.
Only fake friends are present.

**To Reproduce**

1. Sign in.
2. Press CHANNEL tab.
3. Press "+" FAB.

**Expected behavior**
"Real" friends should be displayed inside `ChannelCreate` component.

**Additional context**
Fake friend list is defined here:
https://github.com/dooboolab/h

[2020-08-18 09:44] hyochan commented on #210
This is currently known. We've not integrated this yet in `client`.

[2020-08-18 09:48] hyochan commented on #211
The `integration` part is lacking since the `resolvers` are being developed too.
This is known to be left over for contribution.

Thanks for the thread though :+1:

[2020-08-23 15:07] possible819 opened #220 "Is there any reason to store password in local storage?"
**Specify project**
Client

I found my plain password is stored in local storage after sign in.
Would you mind if I want to know the reason to store it?

Thank you.

[2020-08-23 15:10] #220 closed, assigned to nobody

[2020-08-25 15:00] hyochan commented on #207
Will do!

[2020-08-29 21:45] JaeeunAhn opened #227 "Keyboard hides label when typing on Sign up"
**Specify project**
Client

**Describe the bug**
To type the text on name label, keyboard hides it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Login view'.
2. Click on 'Sign Up' button.
3. Click the 'Name' textfield label to type.
4. See error.

**Expected behavior**
The view will go up and label that I'm typing should be shown above the keyboard.

**Screenshots**
<img src ="htt

[2020-08-30 03:29] hyochan commented on #227
Thanks for bringing up this issue! This would be much better if you can scroll down to the bottom when the keyboard rises!

[2020-09-04 04:12] 0916dhkim opened #237 "Type-Safety for GraphQL Custom Scalar Types"
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
The `client/types/graphql.ts` contains a lot of `any` types right now.
https://github.com/dooboolab/hackatalk/blob/41d3cf72eab0a8b40fdcd9d4058fd6e316f8c0a0/client/src/types/graphql.ts#L4-L25

This is because GraphQL does not provide any information about custom scalar types (hence the `any` type here).
C

[2020-09-06 14:08] hyochan commented on #227
Closes after the online sync.

[2020-09-06 14:08] #227 closed

[2020-09-07 08:03] 0916dhkim opened #248 "No Support for Web Notification from expo-notifications"
**Specify project**
Client

**Describe the bug**
`expo-notifications` web support is in pending state.
https://docs.expo.io/versions/v38.0.0/sdk/notifications/

**Additional context**
Web notification feature is temporarily omitted to suppress error.
https://github.com/dooboolab/hackatalk/pull/244

**Suggestion**
A way to enable web notification without using `expo-notifications` is required.

[2020-09-08 00:33] 0916dhkim opened #251 "Use Material-UI-like Breakpoints for Media Queries"
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
Currently, `minWidth` of `tablet` and `desktop` is defined in `client/src/utils/media.ts`. Material UI project organizes these width values into "breakpoints" and put them in `theme.breakpoints`.

**Describe the solution you'd like**
Hackatalk can take the same approach and use media queries like the fol

[2020-09-08 00:45] 0916dhkim opened #252 "Add a Snackbar Warning if Notification Is Disabled"
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
Users need to know when they are not receiving notifications.
Previously, an alert popup was displayed if notification permission was denied.
That behavior was removed in #235

**Describe the solution you'd like**
A brief snackbar style warning message should be displayed to the users who do not have not

[2020-09-08 14:19] hyochan commented on #251
Are you saying you want to put values inside the `theme` variable as a `breakpoints`?

[2020-09-09 11:11] 0916dhkim commented on #251
@hyochan Here's Material UI's approach : [Breakpoints - Material-UI](https://material-ui.com/customization/breakpoints/)
They provide helper functions that return media queries which can be used inside `useMediaQuery`.
For example, `theme.breakpoints.up('sm')` will return a media query that matches screen size `sm` and larger. The following is the list of their breakpoint helper functions:
- `them

[2020-09-12 11:19] neverlish opened #258 "delete yarn.lock and node_modules in root directory"
**Specify project**
not belongs to server or client side

**Is your feature request related to a problem? Please describe.**
At the location of project root directory, yarn.lock file and node_modules directory exists. If it is not being used, it seems unnecessary

**Describe the solution you'd like**
delete yarn.lock and node_modules in root directory

[2020-09-12 12:51] qkreltms opened #259 "Make ProfileModal simple by following structure of Ant-Design way"
**Specify project**
Client

I think the ProfileModal that we've using is bit hard to use and understand.
Because of it uses ContextAPI, when you use modal you must wrap your component with ```profileModalProvider```
[code]
In addition, you should put your modal on  root component ```MainStackNavigator.tsx``` and also inject it's ref to the store, by following:
[code]
As you can see the ProfileModa

[2020-09-19 16:48] hyochan commented on #258
Resolved currently!

[2020-09-19 16:48] #258 closed

[2020-09-28 06:56] #195 closed

[2020-09-28 06:58] hyochan commented on #259
Looks like a great idea. Could you kindly give a proposal to this approach with `PR`?

[2020-09-29 10:27] 0916dhkim commented on #259
It seems like we're using `react-native-modalbox`. Is there any reason why we don't use the default `Modal` from React-Native?
https://reactnative.dev/docs/modal

[2020-10-01 03:40] qkreltms commented on #259
@0916dhkim It seems `react-native-modalbox` can't called by function call?

[2020-10-05 02:57] 0916dhkim commented on #259
@qkreltms No it can't. What do you think of changing `ProfileModalProvider` to return this context:
[code]

Instead of current way:
[code]

By taking this approach, consumers of `ProfileModalProvider` do not need to worry about checking `ref` every time.

Also, I think we can implement a `ProfileModal` with RN `Modal` that consumes `ProfileModalProvider`.
It will remove the strong bonding between

[2020-10-05 09:51] 0916dhkim commented on #259
I've made some changes in #275
Closing this issue.
@qkreltms Please re-open the issue if you think there is a room to improve.

[2020-10-05 09:51] #259 closed

[2020-10-06 09:22] 0916dhkim commented on #210
Resolved #246

[2020-10-06 09:22] #210 closed

[2020-10-23 04:39] qkreltms commented on #259
@0916dhkim Sorry for long waiting. We still need ProfileModalProvider to use just one ProfileModal, but I'm satisfied that it becomes more easy to use.

[2020-11-14 09:15] #122 closed

[2020-11-17 09:16] hyochan opened #304 "Enable Cloud Deploy to work only when regarding directory has changed."
**Is your feature request related to a problem? Please describe.**
Currently, when the sourcecode is merged to `master` branch, it will automatically deploy changes to both `server` and `client`. We'd like to run the `CI/CD` process only when regarding directory changes. That means if we only changed the `client` code, `CI/CD` should only work for client side.

**Describe the solution you'd like**

[2020-11-21 09:56] hyochan opened #310 "Group Chat feature and FAB enhancement"
![image](https://user-images.githubusercontent.com/27461460/99874362-b6ad6e80-2c2a-11eb-9aae-747849b421e1.png)

If you press [FAB](https://material.io/components/buttons-floating-action-button) placed at the bottom right corner, we would want to rise sub buttons like shown in below image.

![image](https://user-images.githubusercontent.com/27461460/99874383-fc6a3700-2c2a-11eb-91ef-82af6d37b0cc.png

[2020-11-21 10:00] hyochan opened #311 "Self chat feature"
![image](https://user-images.githubusercontent.com/27461460/99874475-9500b700-2c2b-11eb-88ee-dcea96854656.png)

Most chat apps today have a feature to chat with the user himself. We currently have only friends.

We'd like to provide self chat features for note-taking or other purposes.

[2020-11-21 11:33] hyochan opened #313 "Ability to transfer social account to email account"
We have three types of social providers that users can use.

![image](https://user-images.githubusercontent.com/27461460/99876178-66d5a400-2c38-11eb-946b-0e79fcd915ce.png)

However, with social accounts, users are not able to lost & found their account if they are lost. Therefore we'd like to give the ability to users to transfer their social account to email account. We currently don't have it.

[2020-11-21 11:37] hyochan opened #314 "Alert handling feature"
In [Channel] screen, we want to disable `alert` on a specific channel so the users won't get notified. We do currently have `banning` users which users won't get notified for specific users, but we want totally different features here. Users will not get an instant alert but if the user enters the screen, they must be able to see the messages.

![image](https://user-images.githubusercontent.com/27

[2020-11-21 11:59] hyochan opened #315 "Step one messaging UX enhancement"
We have several pain points in the area. It didn't reach the chat app UX experiences that exist today. There is some issue related to this.

## Problem

Firstly, we do not have sufficient money to handle traffics if it works out globally. Therefore, we removed all our scenarios in `subscription` that uses WebSocket `in-memory`. This usually causes the server to shut down when there are many concur

[2020-11-21 12:08] hyochan commented on #211
Looks like this can be closed now as of 1.2 releases.

[2020-11-21 12:08] #211 closed

[2020-11-21 13:15] hyochan opened #316 "Additional screens for clients"
We are lacking two basic screens that are better to be provided.

### Tutorial pages
- We want to support basic tutorials for users for the first users.

### Contributor pages
- We want to create screens for contributors to honor them and hopefully make their carreers.

[2020-12-31 19:56] #207 closed

[2021-01-11 11:54] #237 closed

[2021-01-18 07:19] #248 closed

[2021-01-18 07:19] #252 closed

[2021-01-18 07:19] #251 closed

[2021-02-11 16:21] hyochan opened #354 "React Native test code should be refactored"
**Specify project**
Client

Previously, we used `react-test-renderer` and then used [enzyme](https://www.npmjs.com/package/jest-enzyme). However, we've migrated to `react-native-testing-library` then migrated again to `@testing-library/react-native`. However, `react-native-testing-library` has brought `@testing-library/react-native` from version 7, and now this is delivered from `react-native-test

[2021-02-20 21:24] #304 closed

[2021-02-24 11:15] giautm opened #361 "bug: wrong spec for multiple files upload"
https://github.com/dooboolab/hackatalk/blob/3284e8b997f61408e5eda45254f52d3f6a48e8df/client/src/relay/fetch.ts#L54

From spec: https://github.com/jaydenseric/graphql-multipart-request-spec#curl-request-1, `map` should be valid JSON
[code]
But, the result from that line is
[code]

[2021-02-24 11:21] giautm commented on #361
[code]

[2021-02-28 03:36] hyochan commented on #361
@giautm Thanks for the great fixes! Could you kindly open a `PR` for this? I think we should change the `multi` upload part.

[2021-03-02 01:54] #361 closed

[2021-04-10 15:56] hyochan commented on #354
Closes via #366

[2021-04-10 15:56] #354 closed

[2021-07-09 13:06] #313 closed

[2021-07-09 13:06] #310 closed

[2021-07-09 13:06] #316 closed

[2021-07-09 13:06] #314 closed

[2021-07-11 03:36] hyochan opened #427 "inline dotenv does not work any longer"
**Specify project**
Client

**Describe the bug**
From `expo` 40.0.1, inline dotenv no longer works.
https://github.com/expo/expo-cli/issues/2782

**To Reproduce**
1. Upgrade expo to 40.0.1.
2. Run it

**Expected behavior**
ENV vars to be loaded

[2021-07-24 02:39] 0916dhkim opened #434 "Clickable Links / URL"
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
Hackatalk does not format url as links. They are plain text like other messages.
![image](https://user-images.githubusercontent.com/8978815/126855108-f9e04b07-32dd-4113-a8f2-ce76a93e886f.png)

**Describe the solution you'd like**
I would like Hackatalk to format URL texts as clickable links. Here's how t

[2021-07-24 02:40] 0916dhkim commented on #434
Also, I just noticed that message timestamps are rendered in Korean. My browser locale was en-US.

[2021-07-24 11:19] hyochan commented on #434
Nice one to work through!

[2021-07-25 07:27] #427 closed

[2021-07-27 12:05] DevYuns opened #436 "Improve a signIn function to validate a email & password correctly"
**Specify project**
Is this `Client` issue or `Server` side issue?

client

**Describe the bug**

When try to log in with email and password, `signIn` function can not validate email. That means if I write wrong email or make a typos, It just show a password error message. So I didn't know what's wrong whether email or password.

**To Reproduce**
Steps to reproduce the behavior:

1. Write a email

[2021-07-27 13:17] woosanggyu opened #437 "login page animation starting location issue"
**Specify project**
Client issue

**Describe the bug**
Different starting location for login page animation on web and mobile

**To Reproduce**
Steps to reproduce the behavior:

1. Go to loginPage on web
2. Go to loginPage on mobile

**Expected behavior**

Animation starting location is different

**Screenshots**
- web

https://user-images.githubusercontent.com/45311830/127159634-bf0a1ba5-2688-4a0

[2021-07-27 13:44] rarira commented on #437
Might be related or not..
latest version shows strange logo icon animation like belows.

1. when logo pressed(touch)
![Simulator Screen Recording - iPhone 12 Pro - 2021-07-27 at 22 25 14](https://user-images.githubusercontent.com/8540420/127162919-fef8f1b1-aeb7-4875-a5b2-e9e6e091faf0.gif)

2. when type begins in TextInput component
![Simulator Screen Recording - iPhone 12 Pro - 2021-07-27 at 22 26

[2021-07-27 13:50] hyochan commented on #437
Thank you so much for testing it out!

@DevYuns I think you might want to check this one!

[2021-07-27 14:07] DevYuns commented on #437
Let me check it out soon! Thank you for reporting.

[2021-07-28 12:27] #437 closed

[2021-07-28 12:32] hyochan commented on #436
The error message for `signIn` should not be as kind as other errors for security issues. They are going to be really useful for the attackers.

[2021-07-28 12:32] #436 closed

[2021-08-07 07:17] DevYuns opened #447 "Implement a feature which can invite friends in chatroom."
**Specify project**
Is this `Client` issue or `Server` side issue?

Client and Server

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We can make a group chat at first, but we can not invite friends in chatroom.

**Describe the solution you'd like**
A clear and concise description of w

[2021-08-15 07:45] meohyun2 opened #452 "Editing message should be saved when left the room."
**Specify project**
Is this `Client` issue or `Server` side issue?
Client

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

| editing message is not saved when leave the chatroom. if this feature added, user can remind past editing message.

https://user-images.githubusercontent.com/4591

[2021-08-15 08:44] qkreltms opened #453 "bug: an error alert pop-ups when click "메일 재전송" button"
**Specify project**
Server

**Describe the bug**
See screenshot

**To Reproduce**
1. make new user using graphql
[code]
1. login with the new email
2. move to "이메일 인증" Page
3. click "메일 재전송" button
4. an alert with error message will appear like the screenshot below

**Expected behavior**
Should authentication email send to the email again without alert.

**Screenshots**
![이메일 인증 에러](https://user-

[2021-08-15 09:06] qkreltms opened #454 "Improvement of notifying sign in error"
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
When I tried to sign in with incorrect email, but correct password, error message displays like "비밀번호를 다시 확인해주세요.".
![hackatalk](https://user-images.githubusercontent.com/25196026/129472697-69791ec0-c3b6-468b-8943-97241b972b7e.gif)

**Describe the solution you'd like**
현재 서버, 클라이언트에서 어떤 부분이 틀렸는지 알려줍니다.

[2021-08-15 09:11] qkreltms commented on #454
https://github.com/dooboolab/hackatalk/issues/436#issuecomment-888270747

[2021-08-15 09:13] qkreltms commented on #311
I wonder self chat feature is implemented in server?

[2021-08-15 09:20] qkreltms commented on #452
I agree. because other chat apps are save editing messages.

[2021-08-15 14:14] 0916dhkim commented on #452
Looks like a good idea. I think this should be stored on client side as key-value pairs (chatId, draftString).
One thing we can decide is if we want to persist it or not. For example, draft messages can be persisted inside local storage/app storage, or they can be ephemeral inside React context.

[2021-08-15 14:17] 0916dhkim commented on #311
Reopening

[2021-08-15 14:21] 0916dhkim commented on #311
@qkreltms Many messenger apps create a self-chat room on initialization. As far as I know, Kakao and Telegram both generates self chat room automatically. Maybe Hackatalk can create self chat on user registration?

[2021-08-15 17:07] imjlk opened #455 "Status message could be overflowing text content area"
**Specify project**
Client & Server

**Describe the bug**
If status message is stored large length of text, it looks weird on the search user screen

**To Reproduce**
1. Create account and set status message long
2. Sign in with another account and go to 'User search' screen
3. Then you can see that status message is overflowing text content area
4. Click the user and also see with modal view.

**

[2021-08-15 18:26] hyochan commented on #311
Not yet. We need to think about how can we provide this. My short idea is to provide another type in `ChannelType` which can be `self`.

[code]

I think we can create a `self` channel for the user if not exists

[2021-08-15 18:29] hyochan commented on #452
Great idea! I think this can be provided with sqlite. https://docs.expo.dev/versions/latest/sdk/sqlite/

[2021-08-16 12:16] geoseong commented on #453
Does it work when you first sign up in your localhost?
I mean when you first try to sign up, verifying email sent to your email address well?

actually to test this email send in localhost, you need to configure your own sendgrid account and configure `SENDGRID_API_KEY`, `SENDGRID_EMAIL` prop in the `server/dotenv/.env` file.

`SENDGRID_EMAIL` is the email address like `noreply@hackatalk.dev`. so

[2021-08-16 16:48] hyochan commented on #454
I hope you write in English next time 😅 so that more people around the world lately can participate in our work.
I think this issue is the matter of which string we should provide here since it doesn't tell which is wrong. It just tells that the password is incorrect. It doesn't argue that the email is wrong.

[2021-08-16 16:50] hyochan commented on #455
You can still contribute to this issue even if you are not familiar with graphql!

I think you can try to set the max number of lines and provide a restricted views.

[2021-08-16 17:02] meohyun2 commented on #452
is it okay to use expo-sdk-sqlite to web page? if we maintain this feature like slack draft organizing all editing message, we should use sqlite. but if we make this feature as tiny feature, we can consider react-async-storage library.

[2021-08-17 02:00] rarira commented on #455
Now I've tried to solve this issue... I think we should limit the maxLength of TextInput first and solve how to display possible preoccupied long status message. I'm trying the way just like Kakao Talk as below..

![Simulator Screen Recording - iPhone 12 Pro - 2021-08-17 at 10 56 21](https://user-images.githubusercontent.com/8540420/129651557-4156485f-9f09-40ed-a6fc-e3d694459f65.gif)

I will add a

[2021-08-17 04:32] 0916dhkim commented on #452
@meohyun2 In that case, we probably need to use indexed DB for web & expo-sdk-sqlite for mobile. An abstraction layer (how about `DraftStore` class?) should be added for clean interface.

[2021-08-18 08:24] SimYunSup opened #458 "License Agreement Message is hidden in website."
**Specify project**
Client - Website

**Describe the bug**
some of License Agreement Message is not appeared.

**To Reproduce**
Steps to reproduce the behavior:
Clear localstorage and Try Login.

**Expected behavior**
All of License Agreement Message is appeared.

**Screenshots**
![image](https://user-images.githubusercontent.com/47362439/129864166-3c22ec3a-f493-4939-ae76-10fdf74044c0.png)
on Fire

[2021-08-18 12:02] qkreltms commented on #454
Do you saying it should validate and tells whether email is wrong not only arguing about password if I understand correctly? @hyochan

[2021-08-21 05:50] imjlk opened #459 "Create empty channel (Self Chat?)"
**Specify project**
Client

**Describe the bug**
When user create channel with not selecting other user,
channel is created but not showing on channel list.

**To Reproduce**
1. Go to channel screen and click plus button for creating new channel
2. Click `Done` button on right top
3. You can see a new channel created without other user

**Expected behavior**
If there are no selected users, `Done`

[2021-08-21 16:15] rarira commented on #311
it seem more complicated because now `channels` query has `memberships(excludeMe: false)`. So if we try to add self channel with only one membership including me, we should change all the related codes.. for example, user thumbnail.

Now I'm trying to implement this by creating a self channel on user registration as suggested by @0916dhkim .

[2021-08-22 05:26] kty1965 commented on #458
@hyochan

[2021-08-22 05:30] kty1965 commented on #458
@geoseong Please check this issue

[2021-08-22 05:58] #434 closed

[2021-08-22 07:23] hyochan commented on #458
Above can be achieved easily by giving theme colors to `ScrollView`.

[code]

![image](https://user-images.githubusercontent.com/27461460/130346273-bff7d417-1af9-4c54-86da-35f2b337d02a.png)

But this senario can just be removed in `web` and `android` since it is not actually needed!

[2021-08-22 07:27] geoseong commented on #458
@SimYunSup

I found why this happens,

key thing is the "flexbox" css props.

`align-items: center;` and `justify-content: center;` make this happen.

so commenting that props can fix the problem.

[src/components/pages/LicenseAgreement.tsx#L11](https://github.com/dooboolab/hackatalk/blob/master/client/src/components/pages/LicenseAgreement.tsx#L11)
[code]

you can make this PR of this!

[2021-08-22 07:34] hyochan commented on #458
Looks like a better fix~! Applied commit in the `PR`.

[2021-08-22 07:37] #458 closed

[2021-08-22 08:04] chloe-codes1 opened #462 "Delete messages feature"
**Specify project**
`Client`

**Is your feature request related to a problem? Please describe.**
Hackatalk does not support deleting messages you've sent.

**Describe the solution you'd like**
I would like Hackatalk users to delete messages they didn't mean to send or send something to the wrong person

**Describe alternatives you've considered**

<img src = "https://user-images.githubusercontent.

[2021-08-22 11:34] SimYunSup opened #463 "Delete same channel notification if enter the chat channel."
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
Delete same channel notification if enter the chat channel.

https://user-images.githubusercontent.com/47362439/130353568-3920c141-fb42-45e6-8c5f-64239e0af1b6.mp4

**Describe alternatives you've considered**
Combine the notification which is same channel that like slack, or kakaotalk.

**Additional conte

[2021-08-22 13:24] qkreltms commented on #459
Is it expected feature? @hyochan  or is it bug?

[2021-08-22 13:45] qkreltms commented on #462
It seems deleting message feature is already implemented in server.
See:
[code]

[2021-08-22 16:00] hyochan commented on #463
I've posted related issue in Expo earlier!! You might want to see here https://github.com/expo/expo/issues/11042.

I think still it is not possible using expo-notification :(

[2021-08-22 16:53] hyochan commented on #462
Yes it looks like you can try to integrate the `resolver` in client side and test it out!

[2021-08-22 16:56] hyochan commented on #311
Please check #459 as @qkreltms has pointed out!

It looks like we can handle UX and support this feature!

[2021-08-22 16:57] hyochan commented on #311
Closing it as a dup #459

[2021-08-22 16:57] #311 closed

[2021-08-22 16:58] hyochan commented on #459
@qkreltms Good point~! Maybe we can change ux accordingly? We need to observe what data we can use to differentiate this first.

[2021-08-23 02:06] SimYunSup commented on #463
How about first one? That "Delete same channel notification if enter the chat channel." one does not need collapse notification function. I'll try make disscussion for collapse notification on expo, but They don't seem to want to apply that function.

[2021-08-23 09:38] hyochan commented on #463
The first approach looks great~!

[2021-08-24 03:42] hyochan commented on #455
Updated in [1.9.0](https://github.com/dooboolab/hackatalk/releases/tag/1.9.0)

[2021-08-24 03:42] #455 closed

[2021-08-24 03:46] hyochan commented on #454
No. Looking inside the code, I found that it did not have any scenario on giving hints on the wrong email that does not match the database. Just telling the email format is not correct does not make any security issue.

[2021-08-24 03:54] hyochan commented on #452
Oh `SQLite` does not work on `web` 😞

You can still use `AsyncStorage` but thinking on the issue again, I don't think we need storage for this. How about just supporting this as a context provider? @0916dhkim @meohyun2

They can only live when users are using the app and throw away when the user is not using HackaTalk anymore.

[2021-08-24 04:25] qkreltms commented on #454
Than, how about just displaying error message like "가입하지 않은 아이디이거나, 잘못된 비밀번호입니다." not displaying red underline because users may be confused because of it.(email format is wrong, but message is "비밀번호를 다시 확인해주세요.")

[2021-08-24 04:46] hyochan commented on #454
I think you've missed the code here https://github.com/dooboolab/hackatalk/blob/ee38d64fba78203f63e13a80425e7e689d383c29/client/src/components/pages/SignIn/index.tsx#L176.

I am still confused about what you are trying to achieve here. How about just give out a proposal if you think something is actually needed? Or it'd be good to bring another idea and focus on that 🤔

[2021-08-24 05:01] qkreltms commented on #454
I've focused on these lines
https://github.com/dooboolab/hackatalk/blob/ee38d64fba78203f63e13a80425e7e689d383c29/client/src/components/pages/SignIn/index.tsx#L217-L220
It only tells password is incorrect.

Well if you think it is not an issue I will close this issue.

[2021-08-24 07:33] hyochan opened #468 "Old relay types are being used"
**Specify project**
Client

**Describe the bug**
I've realized that our relay types are not generated to our recent schema. This can be `regenerated by` yarn generate && yarn relay`.

However, some resolvers break after updating them. I've tried this in #467 and you can see the commit https://github.com/dooboolab/hackatalk/commit/7a07d9eb8616e9ff6127cbce94045d5c38d6917a.

**To Reproduce**
Steps to

[2021-08-24 08:35] #468 closed

[2021-08-25 10:45] hyochan opened #473 "Tag users"
**Specify project**
Client

**Is your feature request related to a problem? Please describe.**
<img width="595" alt="Screen Shot 2021-08-25 at 7 44 38 PM" src="https://user-images.githubusercontent.com/27461460/130777154-7108e86b-24c1-4765-8a23-06b67e9f635f.png">

**Describe the solution you'd like**
Make it able to tag users in a chatroom

[2021-08-25 16:38] rarira commented on #459
I'm trying to solve this by checking `selectedUsers.length === 0`, and if true, `DONE` button will be disabled and its color should be changed to `theme.disabled` also..

I'll make PR on this change with Self Chat feature sooner or later

[2021-08-28 07:49] #454 closed

[2021-09-01 09:36] hyochan opened #479 "Upload movie clip in [Message]"
**Specify project**
Both

**Is your feature request related to a problem? Please describe.**
Currently, we can only upload images. Add ability to add video clip up to 100mb.

**Describe the solution you'd like**
1. ~~Update the design for the inputs.~~
    <img width="211" alt="Screen Shot 2021-09-01 at 6 34 16 PM" src="https://user-images.githubusercontent.com/27461460/131648712-ba927430-368b-433

[2021-09-01 09:56] #459 closed

[2021-09-23 02:52] rarira commented on #479
I'm trying to introduce this feature....
but there is no proper icon for video upload, should I use `that clip icon`?
and by clicking the `camera` icon, we can also take video and upload it if we want to allow it but now we can just take still photo.

[2021-09-23 03:11] 0916dhkim commented on #479
@rarira I think the gallery icon is the most intuitive one to use. It would be awesome if the camera icon can be used also.

[2021-09-23 03:16] rarira commented on #479
The gallery icon is used to pick a still image only for now, and of course it can handle both image and video but I'm afraid it needs more refactoring... I'll try.

[2021-09-23 03:18] 0916dhkim commented on #479
@rarira Thanks! Keep me updated with your progress :+1:

[2021-10-06 17:37] #479 closed

[2021-12-25 17:41] #473 closed

[2021-12-25 17:41] hyochan commented on #463
Closes via #476

[2021-12-25 17:41] #463 closed

[2021-12-25 17:45] hyochan commented on #452
I think we can use [Recoil](https://recoiljs.org/ko/docs/introduction/getting-started/) in this case although it won't be stored permanently.

[2022-01-08 05:53] hyochan commented on #11
![HackaToken](https://user-images.githubusercontent.com/27461460/148633297-9b4ee8e7-b1da-46a9-a156-7f13e5b808be.png)

[2022-04-16 17:42] #315 closed

[2022-04-19 01:33] #447 closed

[2022-06-08 07:09] hyochan opened #559 "Voice message"
**Specify project**
Both

**Is your feature request related to a problem? Please describe.**
We have a customer wanting to write a voice message.

**Describe the solution you'd like**
Add message option for recording and uploading voice.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-06-08 07:10] hyochan opened #560 "File Upload"
**Specify project**
Both

**Is your feature request related to a problem? Please describe.**
We have a customer wanting to upload files instead of just the photo.

**Describe the solution you'd like**
Add file option to upload files.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A